# Fichiers générés par Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
/build/

# Fichiers sensibles
local.properties
**/android/key.properties
**/ios/Runner/GeneratedPluginRegistrant.*

# IDE et fichiers temporaires
.idea/
.vscode/
*.iml
*.swp
.DS_Store
